[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django-oscar = {extras = ["sorl-thumbnail"], version = "*"}
dj-database-url = "*"
python-dotenv = "*"
sorl-thumbnail = "*"
pycountry = "*"

[dev-packages]

[requires]
python_version = "3.9"
